name: Assign Author

on:
  pull_request:
    branches: [ dev, main ]

jobs:
  update:
    name: Update
    runs-on: ubuntu-latest
    steps:
      - uses: docker://chinthakagodawita/autoupdate-action:v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_FILTER: protected