name: Lint

on:
  pull_request:
    branches: [ dev, main ]

jobs:
  analyze:
    name: Analyze
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Lint
        run: ./gradlew lintKotlin
